/* Ionic Variables */
@light:                           #fff;
@stable:                          #f8f8f8;
@positive:                        #387ef5;
@calm:                            #11c1f3;
@balanced:                        #33cd5f;
@energized:                       #ffc900;
@assertive:                       #ef473a;
@royal:                           #886aea;
@dark:                            #444;

/* App Variables */

/* Mixins */
.bg(@file) {
    background-image: url("/svg/@{file}.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

/*Responsive mixins*/
/* 567px */
.screen-sm(@rules) {
    @media (min-width: @grid-responsive-sm-break+1) { @rules(); }
}
/* 767px */
.screen-md(@rules) {
    @media (min-width: @grid-responsive-md-break+1) { @rules(); }
}
.screen-md-max(@rules) {
    @media (min-width: @grid-responsive-md-break+1) and (max-width: @grid-responsive-md-break) { @rules(); }
}
/* 1023px */
.screen-lg(@rules) {
    @media (min-width: @grid-responsive-lg-break+1) { @rules(); }
}

/* Fonts */
/*@font-face {
    font-family: 'Ultima';
    src: url('fonts/ultimaprolt.eot');
    src: url('fonts/ultimaprolt.eot') format('embedded-opentype'),
         url('fonts/ultimaprolt.woff') format('woff'),
         url('fonts/ultimaprolt.svg#UltimaProLight') format('svg');
    font-style: normal;
    font-weight: normal;
}*/

/* Imports */
/*@import "popup.less";*/


/* Utility */
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* center site */
/* .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */
.text-right {
    text-align: right !important;
}
.row-inline {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: (@grid-padding-width / 2);
    .col {
        float: left;
    }
}
.form-control {
    display: block;
    width: 100%;
}
.container-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.clear-link {
    text-decoration: none;
    color: @dark;
}

/* Global Styles  */

/* Slide Box */
.slider {
    padding-bottom: 25px;
}

.slider-pager {
    bottom: 0;
}