<ion-view view-title="{{screenName}}">
	<ion-content>
		<ion-slide-box ng-if="screenData.length > 0" delegate-handle="pin-viewer" on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="(screenIndex, screen) in screenData track by $index">
				<div class="box pin-list row-inline">
					<div class="col col-25 text-center" ng-repeat="pin in screen.pinArr track by $index">
						<button class="pin-item button button-positive" ng-click="editPin(screenIndex, $index)">{{pin}}</button>
					</div>		
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>