<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Add New Pinscreen</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closePin()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="doPin()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Pinscreen name</span>
					<input type="text" ng-model="addData.name">
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Add Pinscreen</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-modal-view>