<ion-side-menus enable-menu-with-back-views="false" drag-content="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-if="!isEditing && !isShare" ng-click="addPin()">Add Pinscreen</ion-item>
                <ion-item ng-if="!isEditing && !isShare" ng-click="enableEdit()">Edit Pinscreen</ion-item>
                <ion-item menu-close ng-if="!isEditing && !isShare" ng-click="deleteDialog()">Remove Pinscreen</ion-item>
                <ion-item menu-close ng-if="isEditing && !isShare" ng-click="applyEdit()">Apply Edit</ion-item>
                <ion-item ng-if="!isEditing && !isShare" ng-click="enableShare()">Share</ion-item>
                <ion-item ng-if="!isEditing && isShare" ng-click="disableShare()">
                    <a class="clear-link" href="https://twitter.com/intent/tweet?url=http:%3A%2F%2Fexample.com%2F">Tweeter</a>
                </ion-item>
                <ion-item ng-if="!isEditing && !isShare"><a class="clear-link" href="{{appHref}}">Leave a Review</a></ion-item>
                <ion-item ng-if="!isEditing && !isShare" ng-click="openRate()">Rate Pinkeeper</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

